# Android
*.iml
.gradle
/local.properties
/.idea/
.DS_Store
/build
/captures
.externalNativeBuild
.cxx

# Python / Streamlit
**/venv/
**/.venv/
**/env/
**/Lib/
**/site-packages/
**/Scripts/
**/Include/
**/__pycache__/
**/*.pyc
**/chroma_db/

# Secrets et fichiers volumineux
.env
**/*.pdf

# Images autorisées pour le README
!chat-bot-emsi.png
**/*.jpg
**/*.jpeg
# On ignore les autres png pour être sûr, sauf celle-là
*.png
!chat-bot-emsi.png
